.nav-header {
    background-color: #FFF;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #396CF0;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.links__link {
    color: #396CF0;
    margin-right: 10px;
    font-size: 48px;
    text-decoration: none;
}

.links__link:hover {
    text-decoration: none;
}

.profile__link {
    color: #396CF0;
    font-size: 24px;
    text-decoration: none;
}

main {
    color: black;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    position: relative;
}