.set {
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: white;
    width: 200px;
    height: 270px;
    border-radius: 13px 13px 0 0;
    display: flex;
    padding: 20px;
    font-size: 24px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    border: 1px solid #396CF0;
    transition: .2s;
    position: relative;
}

.set:hover {
    background-color: #8EC7FB;
}

.set__changeButton {
    transition: .2s;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    border: 1px solid #396CF0;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFF;
    height: 33px;
    font-size: 24px;
    font-family: 'Alegreya Sans SC', sans-serif;
    cursor: pointer;
}
.set__deleteButton {
    transition: .2s;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    border: 1px solid #396CF0;
    box-sizing: border-box;
    border-radius: 0 0 13px 13px;
    width: 100%;
    background-color: #FFF;
    height: 33px;
    font-size: 24px;
    font-family: 'Alegreya Sans SC', sans-serif;
    cursor: pointer;
}

.set__changeButton:hover {
    background-color: #8EC7FB;
}

.set__deleteButton:hover {
    background-color: #FF645C;
}

.set__title {
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
}

.set__description {
    display: block;
    height: 200px;
    width: 140px;
    font-size: 22px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.modalWindow {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modalWindow__buttons {
    display: flex;
    justify-content: center;
}

.buttons__yes,
.buttons__no {
    font-size: 20px;
    margin: 5px 10px;
    width: 80px;
}

.buttons__yes {

}