.sets {
    background-color: #0082CC;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    min-width: 460px;
}

.sets__outer {
    margin: 10px 20px;
    text-decoration: none;
    color: black;
    height: 267px;
}

.sets__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sets__set {
    margin: 20px;
}

.set__new {
    border-radius: 50%;
}

.set__new:before {
    content: '\FF0B';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #0082CC;
    font-size: 40px;
    color: #0082CC;
}

.sets__new {
    background-color: white;
    width: 200px;
    height: 270px;
    border-radius: 13px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sets__new:hover {
    background-color: #DCE8E8   ;
}