.cardWrapper {
    width: 200px;
    height: 270px;
    margin: 30px auto;
}

.card {
    width: 200px;
    height: 270px;
    margin: 0 auto;
    border-radius: 4px;
    transition: all 1s;
    position: absolute;
    right: calc(50% - 100px);
    perspective: 1000px;
    opacity: 1;
}

.card_show {
    transform: scale(1);
}

.card_throw {
    right: 0;
    transform: scale(0) rotateZ(180deg);
}


.card__result {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card__front, .card__back {
    position: absolute;
    transition: .7s ease-out;
    backface-visibility: hidden;
    background-color: white;
    border: 1px solid #396CF0;
    width: 200px;
    height: 270px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.card__word {
    width: 100%;
    word-break: break-all;
    text-align: center;
    font-size: 27px;
}

.card__back {
    transform: rotateY(-180deg);
}

.card__front_flip {
    transform: rotateY(-180deg)
}

.card__back_flip {
    transform: rotateY(-360deg)
}

.checkCards {
    width: 100%;
    background-color: #f2f8ff;
    border-radius: 7px;
    padding: 10px;
    position: relative;
    min-width: 460px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
}

.checkCards__title {
    font-size: 35px;
    margin: 10px auto;
}

.checkCards__goodCount {
    font-size: 30px;
    margin: 10px auto;
}

.result__title {
    display: inline-block;
    margin: 10px auto;
    font-size: 22px;
}

.result__title_hidden {
    visibility: hidden;
}

.agreeButton,
.declineButton,
.neutralButton {
    border-radius: 2px;
    font-size: 17px;
    width: 90px;
    height: 30px;
    color: white;
    margin: 0 10px;
}

.agreeButton {
    background-color: #4CAF50;
    border: 1px solid #19721F;
}

.declineButton {
    background-color: #f44336;
    border: 1px solid #9F1C12;
}

.neutralButton {
    background-color: #008CBA;
    border: 1px solid #005B79;
}