.title {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 70%;
}

.description {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 70%;
    height: auto;
}

.change__button {
    margin-bottom: 15px;
}

.properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.d {
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
    display:inline-block;
}

.save__button {
    margin-bottom: 15px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #396CF0;
    position: relative;

}

.save__button:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 15px;
    border: solid #396CF0;
    border-width: 0 4px 4px 0;
    transform: rotate( 45deg);
}