.createDeckForm label {
    display: block;
    margin: 10px auto;
}

.createDeckForm label input {
    margin-left: 4px;
    font-size: 25px;
}

.createDeckForm {
    font-size: 25px;
    background-color: #f2f8ff;
    border-radius: 7px;
    padding: 10px;
    min-width: 460px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.createDeckForm__button {
    width: 130px;
    margin: 0 auto;
    font-size: 20px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #396CF0;
}

.createDeckForm__button:hover {
    background-color: #8EC7FB;
    cursor: pointer;
}